profile.json
logs
rhino.local.properties
local/kubejs/dev.properties
hollowcore
resourcepacks
journeymap
lightspeed-cache
crash-reports
modernfix
saves
patchouli_data.json
usercache.json
usernamecache.json